*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-color: #36d1dc;
    background-image: linear-gradient(#00f998, #008b8b);
}
#app-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
#temp{
    text-align: center;
}
#temp #temp-value{
    color: #fff;
    font-size: 5rem;
}
#temp #temp-unit{
    color: #fff;
    font-size: 3rem;
}
#temp-icon{
    margin: 5rem;
    width: 30%;
    height: auto;
}
#location{
    font-family: Fantasy;
    color: black;
    font-size: 3rem;
}
#climate{
    /* font-family: Fantasy; */
    color: #e0e0e0;
    font-size: 2rem;
}